<!---- footer ---->
<footer class="footer color-5b">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3 class="font-family-3">Download Our App</h3>
                <p class="font-family-1">Download Our App for Android and IOS Mobile Phone</p>
                <div class="app-logo">
                    <img src="{{url_for('static',filename='images/play-store-resize.png')}}" alt="">
                    <img src="{{url_for('static',filename='images/app-store-resize.png')}}" alt="">
                </div>
            </div>
            <div class="footer-col-2">
                <img src="{{url_for('static',filename='images/thesis-logo-resize.png')}}" alt="">
                <p class="font-family-1">True Happiness Ended Since It Started</p>
            </div>
            <div class="footer-col-3">
                <h3 class="font-family-3">Useful Links</h3>
                <ul>
                    <li class="font-family-1">Coupons</li>
                    <li class="font-family-1">Blog Post</li>
                    <li class="font-family-1">Return Policy</li>
                    <li class="font-family-1">Join Affiliate</li>
                </ul>
            </div>
            <div class="footer-col-4">
                <h3 class="font-family-3">Follow Us</h3>
                <ul>
                    <li class="font-family-1">Facebook</li>
                    <li class="font-family-1">Twitter</li>
                    <li class="font-family-1">Instagram</li>
                    <li class="font-family-1">Youtube</li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright font-family-1">Copyright 2022 - Thesis Demo</p>
    </div>
</footer>